.report-form {
    margin: 20px auto;
    padding: 20px; 
    border-radius: 10px; 
    background-color: silver; 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);

    h3 {
        margin-bottom: 20px;
        color: #333;
        text-align: left; 
    }

    p {
        margin-bottom: 20px; 
        font-size: 1rem;
        color: #666; 
        text-align: left; 
    }

    .job-title {
        background-color: #ffffff; 
        color: black; 
        padding: 10px; 
        border-radius: 5px; 
        margin-bottom: 15px; 
        display: inline-block; 
        font-weight: bold;
        width: 100%; 
        text-align: left;
    }

    .form-group {
        display: flex;
        flex-direction: column; 
        margin-bottom: 15px;
        margin-right: 20px;

        label {
            margin-bottom: 5px;
            color: #333; 
            font-weight: bold;
        }

        input[type="text"],
        input[type="email"],
        textarea {
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px; 
            font-size: 16px;
            color: #333;
            transition: border-color 0.3s;
            width: 100%;
        }

        input:focus,
        textarea:focus {
            border-color: #66bc46; 
            outline: none; 
        }

        textarea {
            height: 100px; 
            resize: none; 
        }
    }

    button {
        padding: 10px 20px; 
        border: none; 
        border-radius: 5px; 
        background-color: #66bc46; 
        color: #fff; 
        font-size: 16px; 
        cursor: pointer; 
        transition: background-color 0.3s; 
        display: block;
        margin: 0 auto; 
        
        &:hover {
            background-color: darkgreen; 
        }
    }
}
