.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.menu-left {
  flex: 1;
  justify-content: flex-start;
}

.menu-right {
  flex: 1;
  justify-content: flex-end;
}
