.nav-link:hover {
    transform: scale(1.5); /* Zoom in 110% khi hover */
    color: #66BC46;
}

.btn.custom-btn:hover {
    background-color: #66BC46;
    color: white;
}

.btn.green-btn:hover {
    background-color: #4CAF50;
    border-color: #4CAF50;
}

.btn.dark-btn:hover {
    background-color: #1E272E;
    border-color: #1E272E;
}

.messenger-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    padding: 0px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.messenger-icon {
    width: 70px; /* Kích thước của biểu tượng Messenger */
    height: 70px; /* Kích thước của biểu tượng Messenger */
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.title-container {
    text-align: center;
    margin-bottom: 40px;
}

.sub-container {
    display: flex;
    background-color: #f0f0f0;
    padding: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.sub-container img {
    margin-right: 20px;
}

.form-container {
    background-color: white;
    padding: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    width: 500px;
}

.form-container label {
    display: block;
    margin-bottom: 5px;
}

.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-container input[type="submit"] {
    background-color: #66BC46;
    color: white;
    border: none;
    cursor: pointer;
}

.form-container input[type="submit"]:hover {
    background-color: #5aad40;
}